# Environment / secrets
Backend/credentials.json
Backend/token.json
Backend/token_old.json

# Environment files
.env
.env.*

# Backend
backend/.venv/
backend/__pycache__/

# Frontend
frontend/node_modules/

# VS Code
.vscode/