@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family:'Poppins',sans-serif;
    background:#F7FCF5;
}

.input-style{
  @apply w-full px-4 py-3 rounded-xl border focus:ring-2 focus:ring-green-500 outline-none;
}

.label{
  @apply block text-sm font-semibold mb-2 text-gray-700;
}

*{
  scroll-behavior:smooth;
}

.fade-in{
  animation: fadeIn .6s ease-in-out;
}

@keyframes fadeIn{
  from{
    opacity:0;
    transform:translateY(15px);
  }
  to{
    opacity:1;
    transform:translateY(0);
  }
}